@font-face {
    font-family: 'hellovetica';
    src: URL('fonts/hellovetica.ttf') format('truetype');
}

#main {
    display: flex;
    flex-direction: row;
}

#headshot {
    border-radius: 50%;
}

#text {
    margin-left: 50px;
    font: ARCADE_N;
    font: white;
}