@font-face {
    font-family: 'ARCADE_N';
    src: URL('./ARCADE_N.TTF') format('truetype');
}

@font-face {
    font-family: 'DisposableDroidBB';
    src: URL('./DisposableDroidBB.ttf') format('truetype');
}
