/* Color Variables */
:root {
    --inner: cornflowerBlue;
    --border: black;
    --accent: white;
}

#container {
  width: 100vw;
  height: 100vh;
}
#mobilePlaceholder {
  width: 90vw;
  /* height: 30vh; */
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  display: block;
  text-align: center;
  background: var(--inner);
  box-shadow:
    /* Inner Background Color -- Same as inner */
      0   -6px 0  -2px var(--inner),
      0    6px 0  -2px var(--inner),
      0  -12px 0  -4px var(--inner),
      0   12px 0  -4px var(--inner),
      0  -18px 0  -8px var(--inner),
      0   18px 0  -8px var(--inner),
      0  -24px 0 -12px var(--inner),
      0   24px 0 -12px var(--inner),
    
    /* Inner Border */
    -2px  0   0   0   var(--border),
      2px  0   0   0   var(--border),
      0   -4px 0   0   var(--border),
      0    4px 0   0   var(--border),
      0  -10px 0  -2px var(--border),
      0   10px 0  -2px var(--border),
      0  -14px 0  -4px var(--border),
      0   14px 0  -4px var(--border),
      0  -20px 0  -8px var(--border),
      0   20px 0  -8px var(--border),
      0  -26px 0 -12px var(--border),
      0   26px 0 -12px var(--border),
    
    /* Middle Border -- Accent */
    -4px  0   0   0   var(--accent),
      4px  0   0   0   var(--accent),
      0   -2px 0   2px var(--accent),
      0    2px 0   2px var(--accent),
      0   -8px 0   0px var(--accent),
      0    8px 0   0px var(--accent),
      0  -12px 0  -2px var(--accent),
      0   12px 0  -2px var(--accent),
      0  -16px 0  -4px var(--accent),
      0   16px 0  -4px var(--accent),
      0  -22px 0  -8px var(--accent),
      0   22px 0  -8px var(--accent),
      0  -28px 0 -12px var(--accent),
      0   28px 0 -12px var(--accent),
    
    /* Outer Border */
    -6px  0   0   0   var(--border),
      6px  0   0   0   var(--border),
      0    0   0   4px var(--border),
      0   -6px 0   2px var(--border),
      0    6px 0   2px var(--border),
      0  -10px 0   0   var(--border),
      0   10px 0   0   var(--border),
      0  -14px 0  -2px var(--border),
      0   14px 0  -2px var(--border),
      0  -18px 0  -4px var(--border),
      0   18px 0  -4px var(--border),
      0  -24px 0  -8px var(--border),
      0   24px 0  -8px var(--border),
      0  -30px 0 -12px var(--border),
      0   30px 0 -12px var(--border);
}

#mobilePlaceholder img{
  height: 100px;
  width: auto;
  margin: 0 auto;
  margin-top: 20px;
}