/* Color Variables */
:root {
    --inner: cornflowerBlue;
    --border: black;
    --accent: white;
}

#container {
  width: 100vw;
  height: 100vh;
}
#mobilePlaceholder {
  width: 90vw;
  /* height: 30vh; */
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  
}

#mobilePlaceholder img{
  height: 100px;
  width: auto;
  margin: 0 auto;
  margin-top: 20px;
}

#notLandscape {
  visibility: visible;
}

#landscape {
  visibility: hidden;
  position: absolute;
  width: 60vw;
  height: 60vh;
  left: 20vw;
  top: 20vh;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: var(--inner);
  box-shadow:
    /* Inner Background Color -- Same as inner */
      0   -6px 0  -2px var(--inner),
      0    6px 0  -2px var(--inner),
      0  -12px 0  -4px var(--inner),
      0   12px 0  -4px var(--inner),
      0  -18px 0  -8px var(--inner),
      0   18px 0  -8px var(--inner),
      0  -24px 0 -12px var(--inner),
      0   24px 0 -12px var(--inner),
    
    /* Inner Border */
    -2px  0   0   0   var(--border),
      2px  0   0   0   var(--border),
      0   -4px 0   0   var(--border),
      0    4px 0   0   var(--border),
      0  -10px 0  -2px var(--border),
      0   10px 0  -2px var(--border),
      0  -14px 0  -4px var(--border),
      0   14px 0  -4px var(--border),
      0  -20px 0  -8px var(--border),
      0   20px 0  -8px var(--border),
      0  -26px 0 -12px var(--border),
      0   26px 0 -12px var(--border),
    
    /* Middle Border -- Accent */
    -4px  0   0   0   var(--accent),
      4px  0   0   0   var(--accent),
      0   -2px 0   2px var(--accent),
      0    2px 0   2px var(--accent),
      0   -8px 0   0px var(--accent),
      0    8px 0   0px var(--accent),
      0  -12px 0  -2px var(--accent),
      0   12px 0  -2px var(--accent),
      0  -16px 0  -4px var(--accent),
      0   16px 0  -4px var(--accent),
      0  -22px 0  -8px var(--accent),
      0   22px 0  -8px var(--accent),
      0  -28px 0 -12px var(--accent),
      0   28px 0 -12px var(--accent),
    
    /* Outer Border */
    -6px  0   0   0   var(--border),
      6px  0   0   0   var(--border),
      0    0   0   4px var(--border),
      0   -6px 0   2px var(--border),
      0    6px 0   2px var(--border),
      0  -10px 0   0   var(--border),
      0   10px 0   0   var(--border),
      0  -14px 0  -2px var(--border),
      0   14px 0  -2px var(--border),
      0  -18px 0  -4px var(--border),
      0   18px 0  -4px var(--border),
      0  -24px 0  -8px var(--border),
      0   24px 0  -8px var(--border),
      0  -30px 0 -12px var(--border),
      0   30px 0 -12px var(--border);
}

#landscape img{
  width: 10vw;
  height: auto;
}

/* phones */
@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
  #notLandscape {
    visibility: hidden;
  }
  #landscape {
    visibility: visible;
  }
}

/* tablets */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #notLandscape {
      visibility: hidden;
    }
    #landscape {
      visibility: visible;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #notLandscape {
      visibility: hidden;
    }
    #landscape {
      visibility: visible;
    }
}

@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #notLandscape {
      visibility: hidden;
    }
    #landscape {
      visibility: visible;
    }
}

@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #notLandscape {
      visibility: hidden;
    }
    #landscape {
      visibility: visible;
    }
}