#gameBoard {
    position: absolute;
    height: 100vh;
    width: 200vh;
    resize: cover;
    overflow: hidden;
    left: calc(50vw - 100vh);
    right: -25%;
}

#map {
    height: 100%;
    width: 100%;
}