@font-face {
    font-family: 'ARCADE_N';
    src: URL('fonts/ARCADE_N.TTF') format('truetype');
}

#gameBoard {
    position: fixed;
    /* HARDCODED for map image with 2:1 aspect ratio */
    height: 100vh;
    width: 200vh;
    /* object-fit: cover; */
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

#gameBoard button {
    padding: 0;
    font-size: 2vh;
}

.gridBackground {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

#squirrel {
    margin: 0;
}

/* Messes with localization on map if user clicks on squirrel */
#squirrel:active {
    pointer-events: none;
}

.cellButton {
    display: block;
    /* align-items: center; */
    background: transparent;
    border: none;
    height: 100% !important;
    width: 100% !important;
}

/* Can afford to have this be a little off because it's only aesthetic */
.room {
    /* The image used TODO: this will need to be factored out into IDs for individual rooms*/
    background-image: url("../../assets/faqBackground.png");

    /* Full height */
    min-width: 100vw;
    min-height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Grid TODO: add shit to this, for now the only content is the back button*/
    padding: 3vw;
    display: grid;
    grid-template-columns: 90% auto;
    grid-template-rows: auto 90%;
}

.returnButton {
    grid-row: 1;
    grid-column: -1;
    height: 50%;
    background: black;
}

#turboButton {
    position: fixed;
    left: 3vw;
    bottom: 3vh;
}

#turboButton img {
    margin: 0;
    margin-bottom: 0.5vh;
    height: 2vh;
    width: auto;
}