.room {
    /* The image used TODO: this will need to be factored out into IDs for individual rooms*/
    background-image: url("../../../assets/faqBackground.png");

    /* Full height */
    min-width: 100vw;
    min-height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* this is completely experimental, change to more animatic one */
#avatar {
    position: absolute;
    right: 40vw;
    top: 8vh;
    width: 100px;
    height: auto;
    animation: action 1s 3 alternate;
}

@keyframes action {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    50% { transform: translateY(20px); }
}

#dialogueTitle {
    font-size: 2.5em;
}

#mainDialogue {
    padding: 5px;
    /* font-size: 1.3em; */
    /* height: 50%;
    overflow: scroll; */
}

.dialogueButton {
    /* width: 10vw; */
    min-height: 4vh;
}

#backButton {
    width: 20vw;
}

#dialogue {
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

#dialogueChoices {
    /* height: 50%; */
    overflow-y: scroll;
    overflow-x: hidden;
    background: #333333;
}

#choicesInner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
