#about {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    background-color: #060606;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1rem;
    width: 500px;
    margin: 0 auto;
}

#down {
    max-width: 12px;
    max-height: auto;
    padding: 2px 0px 2px 0px;
    align-self: flex-end;
    animation: blink 1s linear infinite;
}

#up {
    max-width: 10px;
    max-height: auto;
    padding: 2px 0px 2px 0px;
    align-self: flex-end;
    transform: rotate(180deg);
    animation: blink 1s linear infinite;
}

@keyframes blink {  
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}