@font-face {
    font-family: 'ARCADE_N';
    src: URL('../fonts/ARCADE_N.TTF') format('truetype');
}

@font-face {
    font-family: 'hellovetica';
    src: URL('fonts/hellovetica.ttf') format('truetype');
}

html {
    background-color: #212529;
}

* {
    font-family: ARCADE_N;
    font-size: 10px;
    color: white;
}