#top {
    /* grid-row-start: 1; */
    display: flex;
    flex-direction: column;
    max-height: 55vh;
    max-width: 500px;
    /* background-color: #060606; */
    margin: 0 auto;
    margin-top: -16px;
}

#top * {
    width: 95%;
}

#title {
    /* max-width: 400px; */
    margin: 0 auto;
    margin-top: 25px;
    height: 50%;
    /* overflow: hidden; */
}

#about {
    /* width: 100%; */
    /* line-height: 1rem; */
    margin: 24px auto 0;
    overflow: scroll;
}

#dates {
    text-align: center;
    font-size: 18px;
}

#up {
    max-width: 10px;
    max-height: auto;
    padding: 2px 0px 2px 0px;
    align-self: flex-end;
    transform: rotate(180deg);
}

#down {
    max-width: 12px;
    max-height: auto;
    padding: 2px 0px 2px 0px;
    align-self: flex-end;
}

.animateBlink {
    animation: blink 0.8s linear infinite;
}

@media only screen and (max-width: 480px) {
    #top {
        width: 300px;
    }
}