#top {
    /* grid-row-start: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 55vh;
    max-width: 500px;
    /* background-color: #060606; */
    margin: 0 auto;
    /* margin-top: -16px; */
}

#top * {
    width: 95%;
}

#title {
    /* margin: 0 auto; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title * {
    margin: 5px;
}

#about {
    /* width: 100%; */
    /* line-height: 1rem; */
    text-align: center;
    height: 30%;
    margin: 0 auto;
    overflow-y: scroll;
    flex-shrink: 2;
}

#dates {
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    height: 60px;
    margin-top: 10px;    
}

#up {
    max-width: 10px;
    max-height: auto;
    padding: 2px 0px 2px 0px;
    align-self: flex-end;
    transform: rotate(180deg);
}

#down {
    max-width: 12px;
    max-height: auto;
    padding: 2px 0px 2px 0px;
    align-self: flex-end;
}

.animateBlink {
    animation: blink 0.8s linear infinite;
}

/* phones */
@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
    #title {
        height: 20%;
        width: 30%;
    }
    #dates {
        font-size: 3vh;
    }
    #about {
        font-size: 2vh;
    }
}

@media screen and (min-width: 320px) and (max-width: 812px) {
    #top {
        width: 300px;
    }
}