#dashboard {
    display: grid;
    max-height: 100vh;
    grid-template-rows: 55vh 10vh 35vh;
}

@keyframes blink {  
    0%, 50% {
        opacity: 0;
    }
    51%, 100% {
        opacity: 1;
    }
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start !important;
    margin: 0%;
    font-family: sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

#startButton {
    width: 500px;
    margin: 0 auto;
    background: none;
    border: none;
    font-size: 18px;
}

@keyframes fadeAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes fadeAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes fadeAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes fadeAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

.animateFade {
    -webkit-animation: fadeAnimation 1.6s infinite;
    -moz-animation: fadeAnimation 1.6s infinite;
    -o-animation: fadeAnimation 1.6s infinite;
    animation: fadeAnimation 1.6s infinite;
}

#startButton:focus {
    outline: none;
}

#retro-logo {
    width: 100px;
    height: auto;
    margin-top: 36px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.logo-container svg {
    margin-top: 0px;
    width: 280px;
    margin: 0 auto;
}
