html {
    font-family: "ARCADE_N", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    flex-shrink: 0;
}

#footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#retro-logo {
    width: 100px;
    height: auto;
}

.socials {
    height: 140px;
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 54px;
    height: 54px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container svg {
    height: auto;
    width: 280px;
}