.room {
    /* The image used TODO: this will need to be factored out into IDs for individual rooms*/
    background-image: url("../../../assets/sponsorshipBackground.png");

    /* Full height */
    min-width: 100vw;
    min-height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2vh 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* this is completely experimental, change to more animatic one */
#avatar {
    position: absolute;
    right: 54vw;
    top: 30vh;
    width: 200px;
    height: auto;
    animation: action 1s 3 alternate;
}

@keyframes action {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    50% { transform: translateY(20px); }
}

#sponsorsBox {
    display: block;
}

#sponsorsBox img {
    width: 50%;
}



#dialogueTitle {
    font-size: 2.5em;
}

#mainDialogue {
    padding: 5px;
    /* font-size: 1.3em; */
    height: 50%;
    overflow: scroll;
}

.dialogueButton {
    /* width: 10vw; */
    min-height: 4vh;
}

#backButton {
    width: 20vw;
    height: 50px;
}

#dialogue {
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5%;
}

#dialogueChoices {
    /* height: 50%; */
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
    width: 50%;
    min-width: 300px;
    background: #333333;
}

#dialogueContent {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-around;
    height: 100%;
}

#mainDialogue {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
    width: 50%;
    min-width: 300px;
    background: #333333;
}

#choicesInner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (min-width: 320px) and (max-width: 812px) {

    #dialogueContent {
        flex-wrap: wrap;
        align-content: flex-start;
    }
    #dialogueChoices {
        height: 40%;
        width: 100%;
    }
    #mainDialogue {
        height: 40%;
        width: 100%;
    }

}
