.room {
    /* The image used TODO: this will need to be factored out into IDs for individual rooms*/
    background-image: url("../../../assets/sponsorshipBackground.png");

    /* Full height */
    min-width: 100vw;
    min-height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* this is completely experimental, change to more animatic one */
#avatar {
    position: absolute;
    right: 54vw;
    top: 30vh;
    width: 200px;
    height: auto;
    animation: action 1s 3 alternate;
}

@keyframes action {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    50% { transform: translateY(20px); }
}

#sponsorsBox {
    scrollbar-width: thin;
    scrollbar-color: #212529 white;
}

/* Works on Chrome/Edge/Safari */
#sponsorsBox::-webkit-scrollbar {
    width: 12px;
}
#sponsorsBox::-webkit-scrollbar-track {
    background: white;
}
#sponsorsBox::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid #212529;
}

.retroBox {
    padding: 5px;
    background: white;
    box-shadow:
      /* Inner Background Color -- Same as inner */
        0   -6px 0  -2px white,
        0    6px 0  -2px white,
        0  -12px 0  -4px white,
        0   12px 0  -4px white,
        0  -18px 0  -8px white,
        0   18px 0  -8px white,
        0  -24px 0 -12px white,
        0   24px 0 -12px white,
      
      /* Inner Border */
      -2px  0   0   0   var(--border),
        2px  0   0   0   var(--border),
        0   -4px 0   0   var(--border),
        0    4px 0   0   var(--border),
        0  -10px 0  -2px var(--border),
        0   10px 0  -2px var(--border),
        0  -14px 0  -4px var(--border),
        0   14px 0  -4px var(--border),
        0  -20px 0  -8px var(--border),
        0   20px 0  -8px var(--border),
        0  -26px 0 -12px var(--border),
        0   26px 0 -12px var(--border),
      
      /* Middle Border -- Accent */
      -4px  0   0   0   var(--accent),
        4px  0   0   0   var(--accent),
        0   -2px 0   2px var(--accent),
        0    2px 0   2px var(--accent),
        0   -8px 0   0px var(--accent),
        0    8px 0   0px var(--accent),
        0  -12px 0  -2px var(--accent),
        0   12px 0  -2px var(--accent),
        0  -16px 0  -4px var(--accent),
        0   16px 0  -4px var(--accent),
        0  -22px 0  -8px var(--accent),
        0   22px 0  -8px var(--accent),
        0  -28px 0 -12px var(--accent),
        0   28px 0 -12px var(--accent),
      
      /* Outer Border */
      -6px  0   0   0   var(--border),
        6px  0   0   0   var(--border),
        0    0   0   4px var(--border),
        0   -6px 0   2px var(--border),
        0    6px 0   2px var(--border),
        0  -10px 0   0   var(--border),
        0   10px 0   0   var(--border),
        0  -14px 0  -2px var(--border),
        0   14px 0  -2px var(--border),
        0  -18px 0  -4px var(--border),
        0   18px 0  -4px var(--border),
        0  -24px 0  -8px var(--border),
        0   24px 0  -8px var(--border),
        0  -30px 0 -12px var(--border),
        0   30px 0 -12px var(--border);
}

#sponsorsBox {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    height: 40vh;
    width: 320;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 90%;
    margin-bottom: 5px;
}
a {
    /* display: block; */
    text-align: center;
}

li {
    text-align: center;
}

.trigger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#dialogueTitle {
    font-size: 2.5em;
}

#mainDialogue {
    padding: 5px;
    /* font-size: 1.3em; */
    height: 50%;
    overflow: scroll;
}

.dialogueButton {
    /* width: 10vw; */
    min-height: 4vh;
}

#backButton {
    width: 20vw;
    height: 50px;
}

#dialogue {
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5%;
}

#dialogueChoices {
    /* height: 50%; */
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
    width: 50%;
    min-width: 300px;
    background: #333333;
}

#dialogueContent {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-around;
    height: 100%;
}

#mainDialogue {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
    width: 50%;
    min-width: 300px;
    background: #333333;
}

#choicesInner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (min-width: 320px) and (max-width: 812px) {

    #dialogueContent {
        flex-wrap: wrap;
        align-content: flex-start;
    }
    #dialogueChoices {
        height: 40%;
        width: 100%;
    }
    #mainDialogue {
        height: 40%;
        width: 100%;
    }

}
