

/* Explanation in JS tab */

/* Cool font from Google Fonts! */
/* @import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=New+Tegomin&family=PT+Mono&family=Patrick+Hand&family=Space+Mono:wght@700&family=Train+One&display=swap');
body {
  margin: 0px;
  background-color: #303b53;
  

}

.text {
  margin-top: 100px;
  width: 100vw;
  color: #eceaee;
  font-family:  'Major Mono Display', monospace;
  font-size: 1.8rem;
  position: absolute;
  display: inline-block;
  
  top: 42vh;
	
	text-align: center;
	
  /* user-select: none; */
}

noscript > h1 {
  font-size: 48px;
}

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: -45vh;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	
  /* font-family: 'Raleway', sans-serif; */
	font-size: 2rem;
	
	text-align: center;
	
  user-select: none;
  color: #eceaee;
}
/* ---- tsparticles container ---- */
#tsparticles2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;

}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;

  /* top: -1004.22;
  left: -782.15; */
}

.socials {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100vw;
  top: 80vh;
}

.socials svg {
  width: 38px;
  height: 38px;
  border-radius: 14%;
  transition: transform 0.1s ease-in-out;
  overflow: hidden;
}

.socials a {
  text-decoration: none;
  border-radius: 25%;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  width: 43px;
  height: 43px;
}

#facebook-container:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
  background-color: white;
  color: #355998;
}

#instagram-container:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
}

#github-container:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
  color: #121212;
  background: white;
}

#twitter-container:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
  background: #00acee;
  color: white;
}

#twitch-container:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
  background: #fff;
  color: #6441a5;
}

#youtube-container:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
  background: #ff0000;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
}

.logo-container svg {
  height: 25vh;
  width: auto;
}

/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
/*} */

input {
  -webkit-appearance: none;
  border-radius: 0;
}
