* {
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: no-wrap;
  font-family: 'Major Mono Display', monospace;
  font-size: 3em;
  user-select: none;
}

noscript > h1 {
  font-size: 48px;
}

svg {
  width: 48px;
  height: 48px;
  border-radius: 15%;
  transition: transform 0.1s ease-in-out;
}

a {
  text-decoration: none;
  color: white;
}

svg:hover {
  transform: scale(1.2);
}

#facebook-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
}
#facebook {
  transition: background linear;
  transition: color linear;
}
#facebook:hover {
  color: #355998;
  background: white;
}

#instagram-container {
  width: 48px;
  height: 48px;
  border-radius: 29%;
  display: inline-block;
}
#instagram {
  transition: background linear;
}
#instagram:hover {
  background: #f09433;
  /* background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);  */
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#github-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
}
#github {
  transition: background linear;
}
#github:hover {
  background: #2b3137;
}

#twitter {
  transition: color linear;
}
#twitter:hover {
  color: #00acee;
}

img {
  width: 280px;
}

.info {
  width: 50vw;
}

@media only screen and (max-width: 700px) {
  body {
    margin: 0;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.25em;
  }
  noscript > h1 {
    font-size: 36px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}
