/* @import '../../../node_modules/nes.css/css/nes.css'; */

#Modal {
    position: absolute;
    top: 100px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: #202020;
}

h3 {
    font-family: ARCADE_N;
}

#nav {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: row;
}

#headshot {
    border-radius: 50%;
}

#text {
    margin-left: 50px;
    font: ARCADE_N;
    font: white;
}