#Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: #212529 !important;
    border-radius: 0% !important;
    border: 4px solid #212529 !important;
    box-shadow:
        inset 4px 4px white,
        inset -4px -4px white;
}

h3 {
    font-family: ARCADE_N;
}

#nav {
    text-align: center;
}